.suggestionsList {
  ul {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 10rem;
    background-color: var(--color-black);
    border-radius: 1rem;

    li {
      cursor: pointer;

      &:hover {
        color: var(--color-orange);
      }
    }
  }

  p {
    font-size: 1.3rem;
    color: var(--color-white);
  }
}
