@use "@styles/_responsives" as responsives;

.ingredients {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsives.resolution__laptop__xs {
    width: 100%;
  }
}
