$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #939393;

$colorAlpha: #62d4a3;
$colorBeta: #e6682b;
$colorGamma: #aa2965;
$colorDelta: #51b0d4;
$colorEpsilon: #a21722;
$colorZeta: #333232;
$colorEta: #1a1a1a;

$gradientAlpha: linear-gradient(180deg, #202020 0%, #000000 100%);
$gradientBeta: linear-gradient(0deg, #202020 0%, #000000 100%);
$gradientGamma: linear-gradient(0deg, #313131 0%, #111111 100%);
