@use "@styles/_responsives" as responsives;

.addedIngredients {
  height: 11rem;
  background-color: var(--color-black);
  margin-bottom: 3rem;
  border-radius: 1rem;
  display: flex;
  width: 100%;
  position: relative;

  .backText {
    position: absolute;
    font-size: 3.5rem;
    top: 9%;
    left: 11%;
    opacity: 0.15;
    z-index: 0;

    @include responsives.resolution__mobile__m {
      left: 7%;
    }

    @include responsives.resolution__mobile {
      left: 5%;
    }

    @include responsives.resolution__mobile__s {
      font-size: 2.5rem;
      left: 7.5%;
      top: 19%;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    position: relative;

    @include responsives.resolution__mobile__m {
      padding: 0.5rem 2.7rem 0 2rem;
    }

    @include responsives.resolution__mobile {
      padding: 0.5rem 2.3rem 0 1.5rem;
    }

    @include responsives.resolution__mobile__s {
      padding-left: 0.5rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-orange);
      width: 7rem;
      height: 1rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      @include responsives.resolution__mobile__m {
        width: 6rem;
      }

      @include responsives.resolution__mobile__s {
        width: 4.5rem;
      }

      p {
        font-size: 0.8rem;
        margin: 0;
        height: 1.4rem;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--colo-white);
        white-space: nowrap;
      }

      button {
        padding: 0;
        width: 1rem;
        height: 1rem;
        display: flex;
        align-content: center;
        justify-content: center;
        border: none;
        border-radius: 1rem;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
