.searchButton {
  button {
    background-color: var(--color-orange);
    border: none;
    border-radius: 1rem;
    width: 8rem;
    height: 2.3rem;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-orange);
    }
  }
}
